.head
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.n
{
height:250px;
width:1000px;
}
.logo
{
float:left;
height:250px;
width:300px;
}
.name
{
height:250px;
width:700px;
float:right;
}
.d
{
position:relative;
top:100px;
left:100px;
font-family:Arial, Helvetica, sans-serif;
font-size:30px;
font-size-adjust:inherit;
text-align:justify;
color:#000000;
}
.menu
{
height:50px;
width:1000px;
float:left;
}
.menu ul li
{
display:inline;
padding:50px;
}
.menu ul a
{
text-decoration:none;
font-size:20px;
color:#000000;
}
.footer
{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
float:left;
}
.copy
{
height:50px;
width:1000px;
float:left;
font-size:24px;
text-align:center;
font-family:"Times New Roman", Times, serif;
}
.home
{
height:950px;
width:1000px;
float:left;
text-align:center;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
}
.working
{
height:150px;
width:1000px;
float:left;
font-family:"Times New Roman", Times, serif;
font-size:18px;
text-align:justify;
color:#000000;
}
.img1
{
height:300px;
width:500px;
float:right;
}
.img2
{
height:300px;
width:500px;
float:left;
}
.img3
{
height:300px;
width:500px;
float:right;
}
.img4
{
height:300px;
width:500px;
float:left;
}
.about
{
height:700px;
width:1000px;
float:left;
text-align:center;
margin-left:auto;
margin-right:auto;
}
.work
{
height:300px;
width:1000px;
float:left;
font-family:"Times New Roman", Times, serif;
font-size:24px;
text-align:justify;
color:#000000;
}
.img3
{
height:220px;
width:500px;
float:right;
}
.img4
{
height:220px;
width:500px;
float:left;
}
.img4
{
height:220px;
width:500px;
float:left;
}
.img4
{
height:220px;
width:500px;
float:right;
}
.courses
{
height:550px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.contact
{
height:500px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.add
{
height:250px;
width:1000px;
float:left;
text-align:center;
font-size:24px;
}
.map
{
float:left;
height:250;
width:1000px;
}
.register
{
height:500px;
width:1000px;
float:left;
margin-left:auto;
margin-right:auto;
}

